<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.companyname.minibook">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:allowBackup="false" android:label="MiniBook.Android" android:theme="@style/MainTheme" android:fullBackupContent="@xml/auto_backup_rules">
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>